<div class="container-fluid">
  <h2> {{ isEditMode ? 'Update Genre' : 'New Genre' }} </h2>
  <form class="form-group" [formGroup]="genreForm" (ngSubmit)="onSubmit()">
    <div class="form-row mb-3">
      <div class="col col-md-4">
        <label for="name" class="form-label">Genre Name</label>
        <input id="name" type="text" class="form-control" formControlName="name" placeholder="Rock">
        <div *ngIf="genreForm.get('name')?.touched && genreForm.get('name')?.invalid">
          <small class="text-danger">Name cannot be blank</small>
        </div>
      </div>
      <div class="col col-md-4">
        <label for="description" class="form-label">Genre Description</label>
        <input id="description" type="text" class="form-control" formControlName="description">
        <div *ngIf="genreForm.get('description')?.touched && genreForm.get('description')?.invalid">
          <small class="text-danger">Description cannot be blank</small>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success mr-2" [disabled]="genreForm.invalid">Submit</button>
    <button (click)="cancel()" class="btn btn-danger me-2">Cancel</button>
  </form>
  <div *ngIf="errorMessage">
    <small class="text-danger"> {{ errorMessage }}</small>
  </div>
</div>
